* {
  box-sizing: border-box;
}
.bg-img {
  background: url("bg1.jfif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100% !important; */
  min-height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.container-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

label {
  /* position: absolute;
  left: 28.3rem;
  padding-top: 0.7rem; */
  font-size: 0.7rem;
  color: #c9c9c9;
}
